.history-row {
  position: relative;
  margin: 0 0 32px 0;
  padding: 32px 40px;
  border-radius: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.history-row-title {
  font-size: 2rem;
  margin: 0 0 20px 0;
  text-align: left;
  color: #fff;
}

.history-row-items {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.history-row::-webkit-scrollbar {
  display: none;
}

.history-row {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
  scroll-snap-type: x mandatory;
}

/* align clear history button to the left of the history row */
.clear-history-button {
  margin: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
